*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    background-color :#E8EAE5;
}
main{
    padding-left: 3em;
    padding-right: 3em;
}

.header-row{
    display: flex;
}

.header-children{
    flex:1;
    display:flex;
    height:4em;
    border-radius:0.5em;
    font-size: 1em;
    color:white;
    align-items:center;
    justify-content:center;
    margin-right:2em;
    background-color: rgb(44, 109, 214);
    margin-bottom:0.4em;
}

.child1{ 
    background-color: red;
}

.child2{
    background-color: orange;
}

.header-children:last-child{
    background-color:green;
    margin-right:0;
}

.row-container{
    display:flex;
    flex:1;
    max-height:500px;
    overflow:auto;
}

.row-children{
    flex:1;
    display:flex;
    border-radius:0.5em;
    font-size: 1em;
    color:black;
    justify-content:center;
    margin-right:2em;
    background-color: white;  
}

.row-children:last-child{
    margin-right:0;
}

.inner-container{
    display:flex;
    flex-direction:column;
    flex:1;
}

.inner-children{
    display:flex;
    flex: 1;
    background-color: pink;
    min-height:5em;
    border-radius:0.5em;
    margin-bottom: 0.5em;
    #justify-content:center;
    #align-items: center;
}

.inner-children:last-child{
    margin-bottom:0;
}

.small-box{
    border:3px solid black;
    width:30px;
    height:30px;
}

.drag-row{
    display:flex;
   align-items:center;
   justify-content: center;
}

.text-in-box{
    #display:flex;
   #align-items: center;
   #justify-content: center;
    background-color:green;
}

.within-box{
    background-color:orange;

}
